<button mat-raised-button color="primary" style="position: absolute;
right: 30px;
width: 170px;" routerLink="/matieres/add" *ngIf="currentRole=='EMPLOYE'">Ajouter</button>
<mat-table #table [dataSource]="filtreDataSource">
  <ng-container matColumnDef="{{displayedColumns[0]}}">
    <mat-header-cell *matHeaderCellDef> {{displayedColumns[0]}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.libelle}} </mat-cell>
  </ng-container>

<div *ngIf="currentRole=='EMPLOYE'">
    <ng-container matColumnDef="{{displayedColumns[1]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[1]}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> <i (click)="onButtonDeleteClick(element._id)" class="material-icons">highlight_off</i></mat-cell>
  </ng-container>
  <ng-container matColumnDef="{{displayedColumns[2]}}">
    <mat-header-cell *matHeaderCellDef> {{displayedColumns[2]}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> <i [routerLink]="['/matieres/edit', element._id]" class="material-icons">mode_edit</i> </mat-cell>
  </ng-container>
</div>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
