<button mat-raised-button color="primary" style="position: absolute;
right: 30px;
width: 170px;" routerLink="/departements/add" *ngIf="currentRole=='EMPLOYE'">Ajouter</button>
<mat-table style="margin-top: 30px" #table [dataSource]="departementDataSource">
  <ng-container matColumnDef="{{displayedColumns[0]}}">
    <mat-header-cell *matHeaderCellDef> {{displayedColumns[0]}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="{{displayedColumns[1]}}">
    <mat-header-cell *matHeaderCellDef> {{displayedColumns[1]}}  </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.chef_departement?.nom}} {{element.chef_departement?.prenom}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="{{displayedColumns[2]}}">
    <mat-header-cell *matHeaderCellDef> {{displayedColumns[2]}}  </mat-header-cell>
    <mat-cell *matCellDef="let element"> <li *ngFor="let enseignant of element.enseignants">
      {{enseignant.nom}} {{enseignant.prenom}}
    </li> </mat-cell>
  </ng-container>
  <div *ngIf="currentRole=='EMPLOYE'">
  <ng-container matColumnDef="{{displayedColumns[3]}}">
    <mat-header-cell *matHeaderCellDef> {{displayedColumns[3]}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> <i (click)="onButtonDeleteClick(element._id)" class="material-icons">highlight_off</i></mat-cell>
  </ng-container>
  <ng-container matColumnDef="{{displayedColumns[4]}}">
    <mat-header-cell *matHeaderCellDef> {{displayedColumns[4]}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> <i [routerLink]="['/departements/edit', element._id]" class="material-icons">mode_edit</i> </mat-cell>
  </ng-container>
  </div>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
